<section class="todoapp">
  <header class="header">
    <h1>Todos</h1>
    <input class="new-todo" placeholder="What needs to be done?" autofocus="" [(ngModel)]="newTodo.title" (keyup.enter)="addTodo()">
  </header>
  <section class="main" *ngIf="todo_list">
    <ul class="todo-list">
      <div *ngFor="let todo of todo_list">
        <app-todo-list-item [todo]="todo" (deletedTodo)="onDelete($event)"></app-todo-list-item>
      </div>
    </ul>
  </section>
  <footer class="footer" *ngIf="todo_list.length > 0">
    <span class="todo-count"><strong>{{todo_list.length}}</strong> {{todo_list.length == 1 ? 'item' : 'items'}} left</span>
  </footer>
</section>
